{% extends "base.html" %}
{% load static from staticfiles %}
{% load widget_tweaks %}

{% block extrastyles  %}
    <link href="{% static 'css/login_base.css' %}" rel="stylesheet">
{% endblock %}

{% block title %}Rapigiros{% endblock %}

{% block content %}

<div class="container">
  <div id="login_panel" class="col-sm-4 col-sm-offset-4 bg-info">
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <form role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
    {% csrf_token %}
      <div class="form-group">
        {{ form.username.label_tag }}
        {% render_field form.username class+="form-control" %}
      </div>
      <div class="form-group">
        {{ form.password.label_tag }}
        {% render_field form.password class+="form-control" %}
      </div>
      <input type="submit" value="login" class="btn btn-default"/>
      <input type="hidden" name="next" value="{{ next }}" />
    </form>
  </div>
</div>

{% endblock %}
