{% extends "base_user.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}Envio de dinero{% endblock %}

{% block content  %}
<h1>Envio de dinero</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <form action="/giros/enviar" method="post" class="form-horizontal">
        {% csrf_token %}
        {% for field in form %}
          <div class="form-group {% if field.errors %}has-error{% endif %} ">
            {% if field.is_hidden %}<div class="hidden">{% endif %}
            <span class="col-lg-4 control-label">
                {{ field.label_tag }}
                {% if field.field.required %}<span class="label_required">*</span>{% endif %}
            </span>
            <div class="col-lg-8">
                {% if field.errors %}
                <label class="control-label" for="inputError">{{ field.errors }}</label>
                {% endif %}
                {% render_field field class+="col-lg-4 form-control" %}
            </div>
            {% if field.is_hidden %}</div>{% endif %}
          </div>
        {% endfor %}
        <div class="row">
            <div class="well col-md-12">
                <button type="reset" class="btn btn-lg btn-danger">Cancelar</button>
                <div class="pull-right">
                  <button type="submit" class="btn btn-lg btn-success">Enviar</button>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
